# Entorno: 'development' (desarrollo local) o 'production' 
ENVIRONMENT=development
# Orígenes permitidos separados por comas si hay varios,
FRONTEND_URL=http://localhost:8080
SUPABASE_URL=tu_supabase_url
SUPABASE_KEY=tu_supabase_key
SUPABASE_JWKS_URL=https://tu-proyecto.supabase.co/auth/v1/.well-known/jwks.json
